export("antennaPlot.fn")
export("boxplotCGM.fn")
export("CONGA.fn")
export("equalInterval.fn")
export("fac2char.fn")
export("fixMissing.fn")
export("MODD.fn")
export("MSEbyC.fn")
export("MSEplot.fn")
export("pairwiseComparison.fn")
export("plotTseries.fn")
export("setSPEC.fn")
export("ssmdEffect.fn")
export("summaryCGM.fn")
export("timeSeqConversion.fn")
importFrom("graphics", "axis", "box", "boxplot", "legend", "lines", "plot", "points", "segments", "title")
importFrom("stats", "approx", "lm", "loess", "mad", "predict", "sd", "t.test")
importFrom("utils", "read.table", "tail", "write.csv")
useDynLib(CGManalyzer, .registration = TRUE, .fixes = "C_")
